{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ else }}
            <div class="bio">
                <h3 class="self-intro">
                    I love to create.<br/>
                    My passions are software, robots & rugby.<br/>
                    Currently VP Platform <a href="https://timeplay.com" target="_blank">@timeplay</a><br/>
                    Formerly Co-Founder & CTO <a href="https://robotplaytime.com" target="_blank">@robotplaytime</a><br/>
                </h3>
            </div>
            {{ end }}
            {{ $totalpostscount := len (where .Data.Pages "Section" "projects") }}
            {{ $latestpostscount := .Site.Params.latestpostscount | default $totalpostscount }}
            {{ if gt $latestpostscount 0 }}
                <div class="page-heading">
                    <!-- {{ i18n "latestPosts" }} -->
                    Projects
                </div>
                <ul>
                    {{ range (first $latestpostscount (where .Data.Pages.ByPublishDate.Reverse "Section" "projects")) }}
                        {{ partial "project-li.html" . }}
                    {{ end }}
                    {{ if gt $totalpostscount $latestpostscount }}
                        {{ range where .Site.Menus.main "Identifier" "projects" }}
                            <li class="post-item">
                                <a id="see-more" {{ printf "href=%q " .URL | safeHTMLAttr }}><span>See more&hellip;</span></a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            {{ end }}
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

